<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="taco-configs-plugin.contribution1"
            objectClass="org.eclipse.jdt.internal.core.JavaElement">
         <action
         	   class="tacoconfigsplugin.popup.actions.ChangeSettings"
               icon="super_taco.png"
               id="taco-configs-plugin.menu1"
               label="Taco Dressings"
               path="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
